<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RecipesWorkshop.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D5BA0252A20A35600E71A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D5BA03E2A20A35800E71A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D5BA0482A20A35800E71A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
